h1{
    left: 30%;
    position: absolute;
}
#col{
    position: absolute;
    left: 30%;
    top: 9%;
}
h3{
    position: absolute;
    left: 50%;
    top: 3%;
}
#col2{
    position: absolute;
    left: 50%;
    top: 9%;
}
html{
    background-color: aqua;
}
button{
    margin: 0 auto;
    width: 250px;
    border-radius: 5px;
}
.form input{
    margin: 0 auto;
    width: 250px;
    height: 20px;
    border: none;
    border-radius: 5px;
}
.form label{
    font-family: Arial;
}